<script>
    var qr_enabled = 1;
    var transition_reader = function transition_reader() {
        $('.after-qr-button').click();
    }
    var qr_data_handler = function qr_data_handler(data) {
        if (qr_enabled) {
            console.log(data);
            $.get('/give_away_money/' + encodeURI(data), function(data){
                if (data == 'yaay') {
                    qr_enabled = 0;
                    console.log('/give_away_money/' + encodeURI(data));
                    transition_reader();
                    setTimeout(function() {qr_enabled=1;}, 2000);
                    console.log(data);
                }
            });
        }
    }
    var noop = function(){}
    $(document).ready(function(){$('#reader').html5_qrcode(qr_data_handler, noop, noop);});
</script>

<h2 id="directions">HOLD UP YOUR WALLET QR CODE HERE AND GET SOME BITCOIN!</h2>
<div id="reader"></div>
<div class="reader-status">
    <span id="status"></span>
</div>

<div class="next-action">
    <button type="button" class="btn btn-primary btn-large after-qr-button" data-next-anchor="#vote-container">Woo, I got Bitcoins!</button>
</div>

