<div class="fluid-row">
    <h1>Moneybags!</h1><br />
    <div style="text-align: center; width: 100%;"><img src="/static/money.gif" style="text-align: center;" /></div>
    <br />
    <h2>Ok, now you should have money transfered to your wallet. Wait for it to verify and then bet (on the other screen) on whether or not this project is going to win an award!</h2><br />
    <h3>Bonus: Your bet will consume about half of the money transfered to your wallet. Do what you want with the rest!</h3>
</div>
